<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>

    <!-- if we use = sign then it prints the html tags as well  -->
    <!-- <%= include("common/header"); %> -->

    <!-- using - instead of equal we have to tell that what we are tryng to run or load the content -->
    <%- include("common/header"); %>
        <h1>Login Page</h1>
</body>

</html>